body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-color: rgb(6, 20, 28);
    color: white;
    font-family: "PT Sans", cursive;
}

.overlay-style {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.overlay-d-none {
    display: none;
}

header {
    background-color: rgb(8, 33, 41);
    height: 150px;
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
}

.headline-header {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
        height: 70px;
    }
}

.input-header {
    display: flex;
    align-items: center;

    input {
        height: 50px;
        width: 250px;
        border-radius: 5px;
    }
}

main {
    min-height: calc(100vh - 250px);
    height: 100%;
}

.main-container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 33, 41);
    height: 100px;
}

@media(min-width: 1920px) {
    .header-container {
        width: 1920px;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .main-container {
        width: 1920px;
    }
}